<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>

			<aspNetCore processPath=".\WebGhiHinh.exe"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">

				<handlerSettings>
					<handlerSetting name="debugFile" value=".\logs\aspnetcore-debug.log" />
					<handlerSetting name="debugLevel" value="FILE,TRACE" />
				</handlerSettings>

			</aspNetCore>

			<webSocket enabled="true" pingInterval="00:00:10" />

		</system.webServer>
	</location>
</configuration>