@page "/"

<h1>Xin chào! Đây là Web Ghi Hình (C# Blazor)</h1>
<p>Hệ thống đã chạy thành công trên nền tảng .NET 9.</p>

<button class="btn btn-primary" @onclick="ClickMe">Bấm vào tôi</button>
<p>Bạn đã bấm: @count lần</p>

@code {
    private int count = 0;
    private void ClickMe()
    {
        count++;
    }
}